<h1>Sign up new user</h1>

<%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="actions">
      <%= f.submit :signup %>
    </div>
<% end %>

